body {
    background-color: black;
    color: white;
    font-style: Arial;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    color: transparent;
    background-color: transparent;
    font-size: 84px;
    font-style: italic;
    background: url(Images/Yellow\ sand.jpg);
    -webkit-text-stroke: 1px;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: title 18s linear infinite;
}

@keyframes title {
    100%{
        background-position: 2500px 0;
        animation-delay: 0ms;
    }
}

h3 {
    font-size: 52px;
}

li { 
    font-size: 32px;
    width: 900px;
}

table {
    width: 100%;
}

th {
    font-weight: bold;
    border: 2px solid white;
    text-align: center;
}

td {
    border: 2px solid white;
    position: relative;
    text-align: center;
}

td a {
    color: purple;
}

td a::after {
    color: white;
}

abbr {
    cursor: alias;
}

#Different_research_techniques {
    width: 100%;
    font-size: 32px;
}

.First_stage {
    width: 700px;
}

.Second_stage {
    width: 700px;
}

.Third_stage {
    width: 700px;
}

.Fourth_stage {
    width: 700px;
}

.Jean_Piaget {
    display: flex;
    font-size: 32px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.Jean_title {
    text-align: center;
}

.Jean_title a {
    text-decoration: none;
    color: purple;
    position: relative;
}

.Jean_title a::after {
    content: ' ';
    color: white;
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    transition: width 0.3s;
}

.Jean_title a:hover::after {
    width: 80%;
}

.Comparison_pic img{
    margin: 0px 500px;
}

.Psychological_disorders {
    display: flex;
    font-size: 32px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.First_disorder {
    width: 500px;
}

.Second_disorder {
    width: 500px;
}

span {
    font-size: 24px;
}